* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
  background-color: #e5e5e5;
}
.bar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 20;
  .bar-container {
    width: 100%;
    height: 17px;
    background-color: #08a6e4;
    .bar-progress {
      height: 15px;
      background-color: #fb3b64;
      width: 0%;
      transition: width 0.3s ease;
    }
  }
}

.nav {
  background-color: #ffffff;
  width: 100%;
  height: 150px;
  padding: 20px;
  border-bottom: #a5a5a5 solid 3px;
  position: sticky;
  z-index: 100;

  &__h1 {
    width: 40%;
    color: #08a6e4;
    font-family: "Raleway";
    font-style: normal;
    font-size: 14px;
    float: left;
    position: relative;
    margin: 30px;
    margin-left: 10%;
  }

  #btnClosedMenu.show {
    display: block;
    width: 30%;
    border: none;
    background-color: #ffffff;
    float: right;
    position: relative;
    margin-top: 30px;
    #closedX {
      position: absolute;
      right: 35px;
      font-size: 25px;
      cursor: pointer;
    }
  }
  .closedMenu {
    display: none;
  }

  &__button {
    display: block;
    width: 20%;
    border: none;
    background-color: #ffffff;
    float: right;
    position: relative;
    margin-top: 30px;
    margin-right: 10%;
    cursor: pointer;

    img {
      width: 30%;
    }
  }
  #btn.remove {
    display: none;
  }

  &__menu {
    display: none;
  }
  #links.show {
    display: block;
    width: 100%;
    margin-left: 0;
    position: absolute;
    height: 200px;
    margin-top: 100px;
    background-color: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.29);

    a {
      display: block;
      text-decoration: none;
      font-family: "Open Sans";
      font-weight: 700;
      font-size: 15px;
      color: #a5a5a5;
      text-align: start;
      text-transform: uppercase;
      margin-bottom: 26px;
      margin-top: 18px;
      margin-left: 5%;
    }
    a:hover {
      width: 10%;
      color: black;
    }
  }
}
main{
  padding-bottom: 30px;
}
#containerTop{
  width: 100%;
  background-color: white;

}
.return{
  width: 100px;
  margin-left:90% ;

#returnBtn{
  position: fixed;
  z-index: 20;
  width: 60px;
  height: 50px;
  background-color: #08a6e4;
  border-radius: 50px;
  border: 1px solid #08a6e4;
  color: white;
  margin-top: 40%;
  cursor: pointer;

}

}
.container {
 
  text-align: center;
  background-color: white;

  &__title {
    font-family: "Raleway";
    font-size: 30px;
    padding-top: 50px;
  }
  &__body {
    font-family: "Raleway";
    font-size: 15px;
    margin: 30px;
  }
  &__button {
    width: 50%;
    padding: 15px;
    border-radius: 60px;
    border: none;
    background-color: #08a6e4;
    color: whitesmoke;
    font-weight: 600;
    margin-bottom: 20px;
    cursor: pointer;
    &:hover {
      box-shadow: 5px 7px 8px 13px #08a6e4;
      background-color: #ffffff;
      color: #078ceb;
    }
  }
  &__img {
    width: 100%;
    margin-left: 0;
  }
  &__text {
    font-family: "Raleway";
    font-size: 20px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
  }
}

.icons {
  background-color: white;
  width: 100%;
  padding-bottom: 20px;

  &__person {
    padding: 20px;

    &--img {
      background-color: #fb3b64;
      margin-left: 40%;
      margin-right: 20%;
      width: 75px;
      height: 75px;
      border-radius: 50%;
      margin-bottom: 20px;
      .face {
        width: 60%;
        margin-top: 10%;
        margin-left: 55%;
      }
    }
    &--inform {
      text-align: center;

      .numberPerson {
        font-family: "Raleway";
        font-weight: 800;
        font-size: 20px;
        margin-top: 10%;
        text-align: center;
      }
      .textPerson {
        font-family: "Raleway";
        font-weight: 400;
        font-size: 16px;
      }
    }
  }

  &__eye {
    padding: 20px;
    margin-bottom: 10%;
    &--img {
      background-color: #08a6e4;
      margin-left: 40%;
      margin-right: 20%;
      width: 75px;
      height: 75px;
      border-radius: 50%;
      margin-bottom: 20px;
      .eye {
        width: 80%;
        margin-top: 30%;
        margin-left: 40%;
      }
    }
    &--inform {
      text-align: center;

      .numberEye {
        font-family: "Raleway";
        font-weight: 800;
        font-size: 20px;
        margin-top: 10%;
      }
      .textEye {
        font-family: "Raleway";
        font-weight: 400;
        font-size: 16px;
      }
    }
  }
  &__catalogo {
    padding: 20px;
    margin-bottom: 10%;
    &--img {
      background-color: #55dfb4;
      margin-left: 40%;
      margin-right: 20%;
      width: 75px;
      height: 75px;
      border-radius: 50%;
      margin-bottom: 20px;
      .catalogo {
        width: 80%;
        margin-top: 10%;
        margin-left: 60%;
      }
    }
    &--inform {
      text-align: center;

      .numberCatalogo {
        font-family: "Raleway";
        font-weight: 800;
        font-size: 20px;
        margin-top: 10%;
      }
      .textCatalogo {
        font-family: "Raleway";
        font-weight: 400;
        font-size: 16px;
      }
    }
  }
}

.firstContainer {
  background-color: white;
  width: 80%;
  padding: 20px;
  margin-top: 10%;
  margin-left: 10%;
  margin-right: 15%;

  &__image {
    width: 100%;
    position: relative;
    margin-top: 40px;
    &--color {
      position: absolute;
      background-color: #fb3b64;
      width: 30%;
      height: 50%;
      border-radius: 42px;
      transform: rotate(-45deg);
      margin-left: 60%;
      padding: 20px;
    }
    .imageSecond {
      position: relative;
      width: 80%;
      margin-left: 10%;
      margin-top: 30px;
      margin-bottom: 10px;
    }
  }
  &__content {
    .title {
      font-family: "Raleway";
      font-size: 30px;
      margin-left: 20px;
    }
    .text {
      font-family: "Raleway";
      font-size: 14px;
      margin: 15px;
      padding-bottom: 20px;
    }
  }
}
.secondContainer {
  background-color: white;
  width: 80%;
  padding: 20px;
  margin-top: 10%;
  margin-left: 10%;
  margin-right: 15%;
  &__image {
    margin-left: 10%;
    margin-bottom: 10%;
    padding-top: 20px;
    background-color: #08a6e4;
    width: 80%;
    border-radius: 50%;

    .imageSecond {
      width: 100%;
      margin-left: 15%;
      margin-top: 30px;
    }
  }
  &__content {
    .title {
      font-family: "Raleway";
      font-size: 30px;
      margin-left: 20px;
    }
    .text {
      font-family: "Raleway";
      font-size: 14px;
      margin: 15px;
      padding-bottom: 20px;
      text-align: justify;
    }
  }
}

.thirdContainer {
  background-color: white;
  width: 80%;
  padding: 20px;
  margin-top: 10%;
  margin-left: 10%;
  margin-right: 15%;

  &__content {
    .title {
      padding-top: 20px;
      font-family: "Raleway";
      font-size: 30px;
      margin-left: 20px;
    }
    .text {
      font-family: "Raleway";
      font-size: 14px;
      margin: 15px;
    }
  }
  &__image {
    .img {
      width: 100%;
      margin: 0;
      background-color: #55dfb4;
    }
  }
}
#pricing{
  width: 100%;
  margin-top: 20px;
  padding-top: 30px;
  background-color: white;
  display: flex;
  justify-content: center;;

  h3 {
    font-family: "Raleway";
    font-size: 30px;
    text-align: center;
    font-weight: 500;
  }  
  
#currency{
  margin-top: -10px;
  width: 200px;
.selecCurrency {
  margin: 20px;

  .labelCurrency {
    font-family: "Raleway";
    font-weight: 500;
    font-size: 20px;

  }
}
}
}

.finishContainer {
  background-color: white;
  width: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 30px;
  

  .containerNormal {
    display: flex;
    position: relative;
    width: 275px;
    height: 200px;
    border: 2px solid #fb3b64;
    border-radius: 18px;
    margin-top: 20px;
    margin-left: 10%;
    &:hover {
      transform: scale(1.05);
      box-shadow: 2px 2px 2px 2px #fb3b64;
    }

    .leftCon {
      width: 100px;
      height: 75px;
      margin-top: 20%;
      margin-left: 10%;
      text-align: center;

      .title {
        font-family: "Raleway";
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
      }
      .amount {
        font-family: "Open Sans";
        font-style: normal;
        font-size: 30px;
        color: #fb3b64;
      }
    }
    .content {
      width: 175px;
      height: 175px;
      margin-top: 10px;

      p {
        margin-left: 20px;
        margin-top: 10px;
        font-family: "Raleway";
        font-size: 12px;
      }
    }
    .buttonNormal {
      position: absolute;
      background-color: #fb3b64;
      width: 100px;
      height: 30px;
      bottom: -10px;
      left: 40%;
      margin-left: -25px;
      border-radius: 18px;
      border: 1px solid #fb3b64;
      color: white;
      cursor: pointer;
    }
  }
  .containerBlue {
    border: 2px solid #08a6e4;
    &:hover {
      transform: scale(1.05);
      box-shadow: 2px 2px 5px 2px #08a6e4;
    }

    .leftCon {
      .amount {
        color: #08a6e4;
      }
    }

    .buttonBlue {
      background-color: #08a6e4;
      border: 1px solid #08a6e4;
    }
  }
  .containerGreen {
    border: 2px solid #55dfb4;
    &:hover {
      box-shadow: 2px 2px 2px 2px #55dfb4;
    }
    .leftCon {
      .amount {
        color: #55dfb4;
      }
    }

    .buttonGreen {
      background-color: #55dfb4;
      border: 1px solid #55dfb4;
    }
  }
}

#slider {
  width: 100%;
  height: 400px;
  position: relative;

  .photos {

    width: 100%;
    align-items: center;

    .img-photo {
      width: 100%;
      height: 100%;
      transition: 2s;
      position: absolute;

      img {
        width: 100%;
        height: inherit;
        object-fit: cover;
        vertical-align: top;
        transition: 10s;
        align-items: center;
      }
    }
  }
  .arrows {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content:space-between;
    align-items: center;

    #before{
      display: inline-block;
      width: 50px;
      height: 50px;
      border-radius: 50px;
      border: none;
      margin-left: 50px;
      background: rgb(255,255,255, 0.5);
      cursor: pointer;
      &:hover{
        background-color: white;
    }
  }
    #next{
      display: inline-block;
      width: 50px;
      height: 50px;
      border-radius: 50px;
      border: none;
      margin-right: 50px;
      background: rgb(255,255,255, 0.5);
      cursor: pointer;
      &:hover{
        background-color: white;
    }
  }
        
      img{
        padding-bottom: 20px;
        width: 70%;
        margin-top: 8px;
    
    }
  }
  .dots {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    .dot {
      cursor: pointer;
      width: 15px;
      height: 15px;
      margin: 0 3px;
      background-color: lightgrey;
      display: inline-block;
      border-radius: 50%;
    }
  }
}

.information {
  width: 100%;
  background-color: white;
  margin-top: 0;
  padding: 10px;
  .infoPersonal {
    .contact {
      width: 300px;
      margin: 30px;
      .other {
        font-family: "Open Sans";
        color: black;
        margin: 10px;
      }
    }
    .infor {
      width: 300px;
      margin: 30px;
      font-family: "Open Sans";
    }
  }

  form {
    width: 100%;
    padding: 30px;
    background-color: white;

    ul {
      list-style: none;

      .tag {
        display: block;
        padding-bottom: 20px;
        border-color: #ffffff;
        font-family: "Raleway";
        font-size: 12px;
        color: #08a6e4;
      }
      .regist {
        width: 100%;
        border: none;
        border-bottom: 1px solid grey;
        margin-bottom: 20px;
      }
      .dataProtection {
        display: inline;
        width: 100%;
        height: 200px;
        margin-right: 30px;
        margin-bottom: 40px;

        #cbox1 {
          width: 10%;
        }
        .ipsum {
          width: 40%;
          font-family: "Raleway";
          font-size: 15px;
        }
      }
      .buttonSend {
        padding-top: 30px;
        margin-left: 30%;
        margin-bottom: 30px;
        padding-bottom: 60px;
        #send {
          background-color: #08a6e4;
          width: 150px;
          height: 30px;
          bottom: 0;
          left: 40%;
          margin-left: -25px;
          border-radius: 18px;
          border: 1px solid #08a6e4;
          color: white;
          cursor: pointer;
        }
      }
    }
  }
}

 
.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #a5a5a5cb;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  &__popup {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    height: 400px;
    border-radius: 8px;
    border: #08a6e4 solid 4px;
    padding: 20px;
    background-color: whitesmoke;
    margin: auto;
    position: relative;

    #closed {
      position: absolute;
      right: 25px;
      font-size: 25px;
      cursor: pointer;
    }
    &--content {
      margin-top: 50px;

      .subscribe {
        font-family: "Raleway";
        font-size: 25px;
        font-weight: 900;
        text-align: center;
      }
      .infoSubscribe {
        font-family: "Raleway";
        font-size: 16px;
        text-align: center;
        margin-top: 10px;
      }
    }
    &--form {
      height: 100px;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 30px;
      margin-top: 30px;
      .input {
        margin-bottom: 20px;
        text-align: center;
        width: 90%;
        height: 40px;
        border: black solid 2px;
      }
      #sendSubscribe {
        width: 70%;
        height: 50px;
        background-color: #08a6e4;
        border-radius: 18px;
        border: 1px solid #08a6e4;
        color: white;
        margin-bottom: 20px;
        font-size: 13px;
      }
      #sendSubscribe:hover {
        background-color: #078ceb;
        cursor: pointer;
      }
    }
  }
}
.modal {
  display: none;
}

footer {
  display: flex;
  position: relative;
  box-shadow: 0px -5px 40px rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 150px;
  background-color: white;


  .footerText {
    position: absolute;
    margin-top: 50px;
    width: 50%;
    height: 70px;
    margin-left: 5%;

    h1 {
      color: #08a6e4;
      font-family: "Raleway";
      font-style: normal;
      font-size: 16px;
      margin-left: 20px;
    }

    p {
      margin-left: 20px;
      font-family: "Raleway";
      font-size: 8px;
    }
  }
  .logos {
    margin-top: 50px;
    margin-left: 80%;
    cursor: pointer;
    img {
      width: 40px;
      margin-left: 10px;
    }
  
  }
}

@media only screen and (min-width: 992px) {
  .nav {
    display: flex;
    flex-direction: row;

    &__button {
      display: none;
    }
    &__menu {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;

      a {
        display: inline;
        text-decoration: none;
        margin-left: 40px;
        font-family: "Open Sans";
        font-weight: 700;
        font-size: 15px;
        margin-top: 35px;
        color: #a5a5a5;
      }
      a:hover {
        color: black;
        border-bottom: 2px solid #08a6e4;
      }
    }
  }
  .container {
    &__button {
      width: 30%;
    }
  }
  .return{
    width: 100%; 
    margin-left:93%;
    #returnBtn{
    margin-top: 20%;
   
  }
  
  }

  .icons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    &__person {
      display: flex;
      flex-direction: column;

      &--infom {
        display: flex;
        flex-direction: colum;
      }
    }

    &__eye {
      display: flex;
      flex-direction: column;
    }
    &--infom {
      display: flex;
      flex-direction: colum;
    }
    &__catalogo {
      display: flex;
      flex-direction: column;
    }
    &--infom {
      display: flex;
      flex-direction: column;
    }
  }

  .firstContainer {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 5%;

    &__content {
      width: 50%;
      height: 50%;
      margin-top: 100px;
      border-bottom: 3px solid #fb3b64;
    }
  }
  .secondContainer {
    display: flex;
    flex-direction: row;
    margin-top: 5%;

    &__image {
      margin-right: 200px;
    }
    &__content {
      width: 100%;
      height: 50%;
      margin-top: 30px;
      border-bottom: 3px solid #08a6e4;
    }
  }
  .thirdContainer {
    display: flex;
    flex-direction: row;
    margin-top: 5%;

    &__content {
      width: 50%;
      border-bottom: 3px solid #55dfb4;
      margin-bottom: 40px;
    }
    &__image {
      width: 50%;
      margin-left: 10%;
    }
  }

  .finishContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    .containerNormal {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 300px;
      margin-left: 15px;

      .leftCon {
        margin-top: 15px;
        padding: 10px;
        margin-bottom: 10px;
        height: 75px;
        width: 100%;
        text-align: center;
        margin-left: 0%;
      }
      .content {
        width: 175px;
        height: 175px;
        text-align: center;
        margin-left: 10%;
      }
    }
  }

  .information {
    display: flex;
    flex-direction: row;
    padding: 0%;
    .infoPersonal {
      display: flex;
      flex-direction: column;
      margin-left: 20%;
      margin-top: 20px;

      .contact {
        width: 300px;
        margin-top: 0px;
        margin-left: 10px;
      }
      .infor {
        display: flex;
        justify-content: space-between;
        margin: 0%;
      }
    }

    form {
      width: 100%;
      padding: 30px;
      background-color: white;

      ul {
        input {
          width: 75%;
        }
        .dataProtection {
          width: 75%;
        }
      }
    }
  }
}
